.container {
    margin: 0px;
}

.userinfo-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    margin-top: 30px;
    margin-left: 10px;
    width: 300px;
}

#userInput, #todoInput {
    width: 60%;
    height: 30px;
}

#search, #submit-data {
    height: 15px;
    width: 30px;
    margin-top: 0;
    margin-bottom: 0px;
    text-align: center;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

