.aboutpage-bg {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 130vh;
	align-items: center;
	text-align: left;
	font-size: 20px;
	background: rgb(195, 195, 195);
	color: black;
}

.aboutpage-bg h1 {
	margin: 0;
	position: static;
	left: auto;
	top: auto;
	transform: none;
}
