.container {
    margin: 0;
}

.userinfo-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    margin-left: 20px;
    width: 100px;
}

.input-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.label {
    width: 30px;
    font-weight: bold;
}

textarea {
    resize: none;
    width: 200px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 80px;
    gap: 10px;
    margin-top: 10px;
}

