body {
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	background-color: #00bcd4 !important;
}

#loginForm {
	margin: 0;
	display: flex;
	align-items: flex-end;
	gap: 10px;
}

#loginForm .input-field {
	width: 120px;
	position: relative;
}

#loginForm .input-field label {
	position: absolute;
	top: -18px;
	left: 0;
	font-weight: bold;
	color: black;
	font-size: 22px;
	text-transform: uppercase;
}

#loginForm .input-field input {
	height: 2rem;
	padding: 0 5px;
	color: white;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid rgba(6, 6, 6, 0.5);
}

#loginForm .input-field input:focus {
	border-bottom: 1px solid white;
	box-shadow: 0 1px 0 0 white;
	outline: none;
}

#loginForm button,
#loginForm a {
	height: 2rem;
	line-height: 2rem;
	padding: 0 15px;
}

.container {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
}

#topicForm {
	margin-bottom: 30px;
}

#topicTitle,
#topicText {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	display: block;
}

#topicText {
	min-height: 100px;
}

#postTopic,
#topicForm button {
	margin-right: 10px;
}

.form-group {
	margin-bottom: 20px;
}

.form-group label {
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 10px;
	vertical-align: middle;
}
.card-content {
	color: black;
}

.form-group input[type='text'],
.form-group input[type='password'] {
	width: 100%;
	padding: 8px;
}

.form-group input[type='checkbox'] {
	width: 20px;
	height: 20px;
	cursor: pointer;
	vertical-align: middle;
	opacity: 1 !important;
	position: relative !important;
	pointer-events: auto !important;
}
